{% extends "reg6/list.html" %}
{% load i18n admin_modify adminmedia %}
{% block content %}<div id="content-main">

{% if object_list %}
    <table border="1" class="sortable">
    <tr>
        {% for field in field_list %}
        <th>{{ field|escape }}</th>
        {% endfor %}
    </tr>
    {% for o in object_list %}
    <tr>
        <td>{{ o.id|escape }}</td>
        <td>{{ o.question|escape }}</td>
        <td>{{ o.text|escape }}</td>
    </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No answers available.</p>
{% endif %}

</div>
{% endblock %}
