{% extends "speaker_survey/base.html" %}
{% load i18n %}
{% block content %}
<div id="content-main">

<h2>Name: {{ survey.speaker.name|escape }}</h2>
<h2>Title: {{ survey.speaker.title|escape }}</h2>
{% if survey.speaker.url %}
<p><a href="{{ survey.speaker.url|escape }}">More info on this talk</a></p>
{% endif %}

<p><a href="../">Back to list of surveys</a></p>

<table>
<tr>
    <th>Question</th>
    <th>Answer</th>
</tr>
<tr>
    <td colspan="2"><h4>Rate The Speaker</h4></td>
</tr>
<tr>
    <td>{{ survey.help_text.0|escape }}</td>
    <td>{{ survey.get_q00_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.1|escape }}</td>
    <td>{{ survey.get_q01_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.2|escape }}</td>
    <td>{{ survey.get_q02_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.3|escape }}</td>
    <td>{{ survey.get_q03_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.4|escape }}</td>
    <td>{{ survey.get_q04_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.5|escape }}</td>
    <td>{{ survey.get_q05_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.6|escape }}</td>
    <td>{{ survey.get_q06_display|escape }}</td>
</tr>
<tr>
    <td colspan="2"><h4>Rate The Presentation</h4></td>
</tr>
<tr>
    <td>{{ survey.help_text.7|escape }}</td>
    <td>{{ survey.get_q07_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.8|escape }}</td>
    <td>{{ survey.get_q08_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.9|escape }}</td>
    <td>{{ survey.get_q09_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.10|escape }}</td>
    <td>{{ survey.get_q10_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.11|escape }}</td>
    <td>{{ survey.get_q11_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.12|escape }}</td>
    <td>{{ survey.get_q12_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.13|escape }}</td>
    <td>{{ survey.get_q13_display|escape }}</td>
</tr>
<tr>
    <td>{{ survey.help_text.14|escape }}</td>
    <td>{{ survey.get_q14_display|escape }}</td>
</tr>
<tr>
    <td>Additional Comments</td>
    <td><pre>{{ survey.comments|striptags|fix_ampersands }}</pre></td>
</tr>
</table>

<p><a href="../">Back to list of surveys</a></p>

</div>
{% endblock %}

